<div class="gallery">

        <!-- scroll #1 -->
        <div class="galleryPrev"><a class="prev"/>
            <%=image_tag ("prev.png"), size:"20x40", alt:"previous picture" %>
        </a></div>
        <div class="galleryNext"><a class="next"/>
            <%=image_tag ("next.png"), size:"20x40", alt:"next picture" %>
        </a></div>

  <div class="scroll">
            <div class="pics">
                <div style>
                    <%=image_tag ("toro.jpg") %>
                </div>
                <div style>
                    <%=image_tag ("02.jpg") %>
                </div>
                <div style>
                    <%=image_tag ("peppers.jpg") %>
                </div>
                <div style="background-image:url(<%= images_path('gallery/lg/04.jpg') %>"images/gallery/lg/04.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/05.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/06a.jpg)">

                </div>
                <div style>
                    <%=image_tag ("06b.jpg") %>
                </div>
                <div style>
                    <%=image_tag ("07.jpg") %>
                </div>
                <div style="background-image:url(images/gallery/lg/08.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/09.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/18.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/10.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/11.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/12.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/13.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/17.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/14.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/15.jpg)">

                </div>
                <div style="background-image:url(images/gallery/lg/16.jpg)">

                </div>
            </div>
  </div>

</div>